<%= form_for(@project_assignement) do |f| %>
  <% if @project_assignement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_assignement.errors.count, "error") %> prohibited this project_assignement from being saved:</h2>

      <ul>
      <% @project_assignement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_id %><br />
    <%= f.number_field :employee_id %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.number_field :project_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
