<h1>Listing project_assignements</h1>

<table>
  <tr>
    <th>Employee</th>
    <th>Project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @project_assignements.each do |project_assignement| %>
  <tr>
    <td><%= project_assignement.employee_id %></td>
    <td><%= project_assignement.project_id %></td>
    <td><%= link_to 'Show', project_assignement %></td>
    <td><%= link_to 'Edit', edit_project_assignement_path(project_assignement) %></td>
    <td><%= link_to 'Destroy', project_assignement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project assignement', new_project_assignement_path %>
